@use '../../styles/utils' as utils;

:host {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

input,
section {
  &:not(:last-child) {
    margin-bottom: utils.base-size(0.75);
  }
}

input {
  font-size: inherit;
  box-sizing: border-box;
  outline: 0;
  width: 100%;

  @include utils.with-theme(dark) {
    filter: invert(0.85);
  }

  &.error {
    border-style: solid inset solid solid;
    border-color: #df4545;

    @include utils.with-theme(dark) {
      border-color: #40d4bc;
    }
  }
}
