@use '../../styles/utils' as utils;

select {
  font-size: 1.25rem;
  margin-right: utils.base-size(-.5);
  width: calc(100% + #{utils.base-size(.5)});

  background: none;
  border: 0;
  color: inherit;
  outline: 0;
}
