@use '../../styles/utils' as utils;

:host {
  background-color: var(--color-background-header);
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  margin: 0 utils.base-size(-1.5);
  @include utils.transition((height, padding-bottom, padding-top));
}

:host(:not([visible])) {
  height: 0;
  padding: 0 utils.base-size(1.5);
}

:host([visible]) {
  height: utils.base-size(17);
  padding: utils.base-size(1.5) utils.base-size(1.5);
}

label {
  align-items: center;
  display: flex;
  flex-direction: row;
  outline: 0;
  width: 100%;

  input,
  select {
    font-size: inherit;
    margin: 0;
    outline: 0;

    &[disabled] ~ .label {
      opacity: .3;
    }
  }

  &:not(:last-child) {
    margin-bottom: utils.base-size(.75);
  }

  .label {
    opacity: 1;
    order: 1;
  }

  input[type="checkbox"] {
    order: 0;
    filter: grayscale(1);

    @include utils.with-theme(dark) {
      filter: grayscale(1) invert(.85);
    }

    ~ .label {
      padding-left: utils.base-size(.75);
    }
  }

  input[type="text"],
  select {
    box-sizing: border-box;
    width: 100%;
    order: 2;

    @include utils.with-theme(dark) {
      filter: invert(.85);
    }

    ~ .label {
      padding-right: utils.base-size(.75);
    }
  }
}
